body {
  font-family: 'Montserrat', sans-serif;
}

section.mobile {
  width: 400px;
}

section > .container {
  max-width: 1140px;
}

.forgotpw-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 812px;
  border: 1px solid #cfcfcfc2;
  background: #fff;
  /* background: linear-gradient(180deg, #ed4d2d 0%, #ff5b2c 73.44%); */
  border-radius: 20px;
}

/* TITLE NAVIGATION CSS */

.title-nav {
  width: 303px;
  height: 32px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 16px;
}

h1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 26px;
  line-height: 31.69px;
  color: #3e4958;
}

/* INFORMATION CSS*/

.instruction-container {
  display: flex;
  width: 303px;
  height: 48px;
  margin-bottom: 71px;
}

.instruction-container > p {
  width: 241px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #3e4958;
}

.phonenumber-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 303px;
  height: 112px;
  border-radius: 14px;
  border: 0.5px solid #d5dde0;
  padding-left: 6px;
  /* padding-top: 6px;
  padding-bottom: 6px; */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92.59px;
  height: 100px;
  border: 0.37037px solid #d5dde0;
  border-radius: 7.40741px;
}

.smsinfo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 23.41px;
  width: 145px;
  height: 40px;
}

.email-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
  width: 303px;
  height: 112px;
  border-radius: 14px;
  border: 0.5px solid #d5dde0;
  padding-left: 6px;
  /* padding-top: 6px;
  padding-bottom: 6px; */
}

.emailinfo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 23.41px;
  width: 145px;
  height: 40px;
}

.via-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  height: 17px;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 145px;
  height: 17px;
  margin-top: 6px;
}

h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e4958;
}

h3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e4958;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 341px;
  margin-bottom: 9px;
}
